
.contact-info {
    margin: 8px;
    text-align: center;
    vertical-align: bottom;
    height: 34px;
    /* line-height: .1; */
}
.contact-info a {
    margin: 4px;
    padding: 4px;
    vertical-align: bottom;
    opacity: .5;
    border: 2px outset #111;
    border-radius: 8px;
}
.contact-info a:hover {
    /* border-bottom: 2px solid #aaa; */
    background-color: #333;
    border: 2px outset #555;
    opacity: 1.0;
}
.contact-info img {
    display: inline-block;
    margin-top: 10px;
    vertical-align: middle;
    padding: 2px;
    width: auto;
    /* height: 34px; */
    height: 90%;
}
.contact-info img:hover {
}

p.img {
    display: inline-block;
}